* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #262926;
    background-image: linear-gradient(62deg, #262926 0%, #212647 100%);
}

.nav {
    background-color: #242424;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    display: inline-block;
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

ul {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    margin-right: 3rem;
}

nav>ul>li {
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: pointer;
}

nav>ul>li:hover {
    background-color: #03032e;
}

nav>ul>li>a {
    display: block;
    margin: 0;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: #dadbc1;
}

#welcome-section {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

h1 {
    padding-top: 20%;
    text-align: center;
    font-size: 5rem;
    color: #dadbc1;
    margin: 0;
}

#welcome-section p {
    text-align: center;
    color: #dadbc1;
    font-size: 1.5rem;
}

.projects-section-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
    color: #dadbc1;
}

.projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}

.projects-grid img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 10px;
    border-radius: 20px;
}

.project-title {
    padding-left: 10px;
    padding-top: 0;
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
}

#contact {
    padding-top: 30px;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

i {
    position: relative;
    top: 30px;
    left: 28%;
    padding-left: 10px;
    padding-right: 10px;
}

i:hover {
    animation: 1s normal wave;
}

@keyframes wave {
    10% {
      transform: rotate(5deg) scale(1.2);
    }
    20% {
      transform: rotate(10deg) scale(1.4);
    }
    30% {
      transform: rotate(15deg) scale(1.6);
    }
    40% {
      transform: rotate(20deg) scale(1.8);
    }
  }

.icons {
    width: 500px;
    height: 200px;
    margin: 0 auto;
}

.footer-text {
    text-align: center;
    color: #dadbc1;
    font-size: 5rem;
}